{% extends "arrival_time/layout.html" %}

{% block body %}

<h1 class="heading"> Add a Stop: </h1>

<div>
  <p class="heading">
    Choose your Line and Line Destination and Favorite Stop
  </p>
</div>

<!-- Copied from https://getbootstrap.com/docs/4.0/components/forms/-->
<div class="box">
  <form action="{% url 'save-stop' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="searchLine">Line</label>
      <input type="text" name="line" class="form-control" id="searchLine" aria-describedby="searchLine" placeholder="e.g. Red line or 70">
      <small id="searchHelp" class="form-text text-muted">What Line is your favorite stop on?</small>
    </div>
  </form>

  <form action="{% url 'save-stop' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="searchLineDestination">Line Destination</label>
      <input type="text" name="destination" class="form-control" id="searchLineDestination" aria-describedby="searchLineDestination" placeholder="e.g. Alewife or Western Ave/Litchfield St">
      <small id="searchHelp" class="form-text text-muted">Toward which direction does the train or bus depart from your stop?</small>
    </div>
  </form>

  <form action="{% url 'save-stop' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="searchStop">Stop Name</label>
      <input type="text" name="stop" class="form-control" id="searchStop" aria-describedby="searchHelp" placeholder="e.g. Park Street or University Park">
      <small id="searchHelp" class="form-text text-muted">What's the name of your favorite stop along this route? </small>
    </div>
  </form>

  <button type="submit" class="btn btn-primary">Search</button>
</div>


  
  

{% endblock %}