{% extends "arrival_time/layout.html" %}

{% block body %}


<div>
  <h1> Your Saved Stops...</h1>
</div>

<div class="grid"> 
  {% for stop in stops %}
  <!-- Create a container to hold and display all the data associated with a saved stop-->
  <div class="stop-container grid-item">
      <!-- Create a div container to put in stop metadata-->
    <div class="stop-metadata">
      <a href="{% url 'stop' stop.id %}"><strong>{{ stop.name }}</strong></a><br>
      <br>
      {{ stop.line }}
      <!-- stop destination -->
      <!-- and/or route Direction -->
    </div>

    <div class="arrival-time">
      <i> Predicted Arrival Time: </i>
      <strong id="prediction"> 22 minutes</strong>
    </div>
    
  </div>
{% endfor %}
</div>



{% endblock %}