{% extends "arrival_time/layout.html" %}

{% block body %}



<h1> Your Saved Stops...</h1>

{% for stop in stops %}
  <!-- Create a container to hold and display all the data associated with a saved stop-->
  <div class="stop-container">
      <!-- Create a div container to put in stop metadata-->
    <div class="stop-metadata">
      {{ stop.name }}
      {{ stop.line }}
      <!-- stop destination -->
      <!-- and/or route Direction -->
    </div>

    <div class="arrival-time">
      <h3> Predicted Arrival Time: </h3>
      <i id="prediction"> </i> 
    </div>
      

    <div class="comments">
      <h3> Stop Comments </h3>
        
        {% for comment in comments%}
          <div class="user-comment">
            {{ comment.author }}
            {{ comment.date_created }}
            {{ comment.text }}
          </div>
        {%% endfor}

        <div id="buttons">
          <button class="btn btn-sm btn-outline-primary" id="archive">Comment</button>
        </div>
    </div>

  </div>
{% endfor %}


{% endblock %}