{% extends "arrival_time/layout.html" %}

{% block body %}



<h1> Your Saved Stops...</h1>

{% for stop in stops %}
  <!-- Create a container to hold and display all the data associated with a saved stop-->
  <div class="stop-container">
      <!-- Create a div container to put in stop metadata-->
    <div class="stop-metadata">
      <a href="{% url 'stop' stop.id %}"><strong>{{ stop.name }}</strong></a><br>
      <br>
      {{ stop.line }}
      <!-- stop destination -->
      <!-- and/or route Direction -->
    </div>

    <div class="arrival-time">
      <h3> Predicted Arrival Time: </h3>
      <i id="prediction"> </i> 
    </div>
    
  </div>
{% endfor %}


{% endblock %}