{% extends "arrival_time/layout.html" %}

{% block body %}

<h1 class="heading"> Stop Info: </h1>


<!-- Create a container to hold and display all the data associated with a saved stop-->
<div class="grid-item">
    <!-- Create a div container to put in stop metadata-->
  <div class="stop-metadata">
    {{ stop.name }}
    <br>
    {{ stop.line }}
    <br>
    {{ stop.direction }}

  </div>

  <div class="arrival-time">
    <i> Predicted Arrival Time: </i>
    <strong id="prediction"> 22 minutes</strong>
  </div>

</div>

  <div class="box">
    <h5 clas="heading"> Add a Comment </h5>
    <!-- Copied from https://getbootstrap.com/docs/4.0/components/forms/-->
    <form action="{% url 'comment' stop.id %}" method="post">
      <div class="form-group">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Comment on this Stop" name="comment">
      </div>
        <button class="btn-sm btn-primary" type="Submit">Comment</button>
      </form>
  </div> 

  <div>
    <h5 class="heading"> Stop Comments </h5>
  </div>

      {% for comment in comments%}
      <div class="box">
        {{ comment.author }}
        <br>
        {{ comment.date_created }} 
        <br>
        {{ comment.text }}
      </div>
      {% endfor %}
      
      
   




{% endblock %}