.stop-container {
 
}

.grid {
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
}

.grid-item {
    border: 1px;
    padding: 20px;
    text-align: left;
}

.user-comment {
    
}



#title {

}

.body {
    
}